.genome-widget {
  &__container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__icon {
    font-size: 2.0rem;
  }

  &__card {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 12rem;
    min-width: 300px;
    height: 400px; // Fixed height for the card
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 0);

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .card-body {
      height: calc(100% - 120px); // Subtract header and footer height
      padding: 0;
      overflow: hidden; // Prevent body from scrolling
    }
  }

  &__list-container {
    height: 100%;
    overflow-y: auto;
  }
} 