@use 'appleCrayonColors' as colors;

.pgb-gene-annotation-track-container {
  position: relative;
  height: 64px;
  background-color: transparent;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: colors.$silver;

  &__canvas {
    cursor: pointer;
  }

  &__visual-feedback {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: colors.$maraschino;
    pointer-events: none;
    z-index: 1000;
    display: none;
  }

}
