@use 'appleCrayonColors' as colors;

.pgb-locus-input {
  padding: 0 1rem;

  &__control {
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: colors.$magnesium;
    }
  }

  &__dropdown {
    min-width: 80px;
    max-width: 120px;
    width: auto;
    
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: colors.$magnesium;
    }
  }

  &__button {
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: colors.$magnesium;
    }
  }
}
